#throw-btn {
  display: block;
}

#throw-again {
  display: none;
}

.die-img {
  display: none;
}

.user-rolled-container,
.comp-rolled-container {
  display: flex;
  flex-direction: row;
  height: 100px;
}

#compDie1,
#compDie2,
#compDie3,
#compDie4,
#compDie5,
#compDie6,
#userDie1,
#userDie2,
#userDie3,
#userDie4,
#userDie5,
#userDie6 {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  background-size: cover;
  display: none;
}

#compDie1:hover,
#compDie2:hover,
#compDie3:hover,
#compDie4:hover,
#compDie5:hover,
#compDie6:hover,
#userDie1:hover,
#userDie2:hover,
#userDie3:hover,
#userDie4:hover,
#userDie5:hover,
#userDie6:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

#compDie1.chosen,
#compDie2.chosen,
#compDie3.chosen,
#compDie4.chosen,
#compDie5.chosen,
#compDie6.chosen,
#userDie1.chosen,
#userDie2.chosen,
#userDie3.chosen,
#userDie4.chosen,
#userDie5.chosen,
#userDie6.chosen {
  transform: translateY(-5px);
  box-shadow: 0px 0px 10px;
}

#compDie1.once-chose,
#compDie2.once-chose,
#compDie3.once-chose,
#compDie4.once-chose,
#compDie5.once-chose,
#compDie6.once-chose,
#userDie1.once-chose,
#userDie2.once-chose,
#userDie3.once-chose,
#userDie4.once-chose,
#userDie5.once-chose,
#userDie6.once-chose {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  background-size: cover;
}

.locked {
  pointer-events: none;
}

#comp-holding-container {
  display: flex;
}

#user-holding-container {
  display: flex;
}
